%flex{
    display: flex;
    align-items: center;
}

@mixin flexColumn {
    @extend %flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin flexCenter {
    @extend %flex;
    justify-content: center;
}

@mixin media-breakpoint-up-sm {
    @media only screen and (min-width: 768px) {
        @content;
    }
}