%flex{
    display: flex;
    align-items: center;
}

@mixin flexColumn {
    @extend %flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin flexCenter {
    @extend %flex;
    justify-content: center;
}


// MOBILE FIRST
@mixin media-breakpoint-up-sm {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

// DESKTOP FIRST
@mixin mediaXs {
    @media (max-width: 575.98px) {
        @content;
    }
}

@mixin  mediaSm {
    @media (min-width: 576px) and (max-width: 767.98px) { 
        @content;
    }
}

@mixin  mediaMd {
    @media (min-width: 768px) and (max-width: 991.98px) { 
        @content;
    }
}

@mixin mediaLg {
    @media (min-width: 992px) and (max-width: 1199.98px) { 
        @content;
    }
}


@mixin mediaXlg {
    @media (min-width: 1200px) { 
        @content;
    }
}