// LOGIN PAGE
.or-separator{
    position: relative;
    color: map-get($theme-colors, "muted" );
    font-size: 16px;
    font-weight: 600;
    &::after{
        content: '';
        position: absolute;
        width: 60px;
        height: 1px;
        top: 50%;
        right: -76px;
        transform: translateY(-50%);
        background-color: map-get($theme-colors, "muted" );
    }
    &::before{
        content: '';
        position: absolute;
        width: 60px;
        height: 1px;
        top: 50%;
        left: -76px;
        transform: translateY(-50%);
        background-color: map-get($theme-colors, "muted" );
    }

}

// Home Page
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    .logo-text{
        display: block;
        height: 35px;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .user-avatar{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.main{
    margin-top: 100px;
    height: 100%;
    padding-bottom: 55px;
    .tags{
        background-color: #fafafa;
        position: fixed;
        top: 50px;
        height: 50px;
        left: 0;
        width: 100%;
        z-index: 9999;
        padding: 0 0.75rem;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar{
            display: none;
        }
        .tag{
            padding: 0.2rem 0.8rem;
            background-color: #fff;
            border: 1px solid #ccc;
            font-weight: 500;
            color: map-get($theme-colors, "dark");
            border-radius: .25rem;
            margin: 0 .25rem;
            text-align: center;
            cursor: pointer;
            &:hover{
                background-color: #f2f2f2;
            }
        }
    }
}

.menu-tab{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    text-align: center;
    z-index: 9;
    a{
        text-decoration: none;
        img{
            display: block;
            filter: opacity(0.5);
        }
        span{
            font-weight: 600;
        }

        &.active{
            img{
                filter: none;
            }
            span{
                @extend .text-dark;
            }
        }
    }
}

.search-wrapper{
    position: relative;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 155px);

    & > *{
        z-index: 5;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
    }

    .search{
        width: 100%;
        height: 46px;
        border-radius: 22px;
        overflow: hidden;
        min-width: 200px;
        max-width: 450px;
        input{
            width: 95%;
            height: 90%;
            border: none;
            outline: none;
            margin-left: 0.5rem;
            padding: 0 0.25rem;
            font-size: 16px;
        }
        button{
            margin: 0 0.3rem;
        }
        img{
            filter: invert(1);
        }
    }
}

.recipe-card{
    width: 280px;
    .recipe-cover{
        width: 80%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}