
.d-none{
    display: none;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.flex-space-between{
    align-items: center;
    justify-content: space-between;
}

p{
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.6px;
    color: map-get($theme-colors, "dark");
}

.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}

.p1{
    padding: 1rem;
}
.px-1{
    padding: 0 1rem;
}
.py-1{
    padding: 1rem 0;
}
.pr1{
    padding-right: 1rem;
}
.pl1{
    padding-left: 1rem;
}
.pb1{
    padding-bottom: 1rem;
}
.pt1{
    padding-top: 1rem;
}

.m0{
    margin: 0 !important;
}

.m1{
    margin: 1rem;
}
.mx-1{
    margin: 0 1rem;
}
.my-1{
    margin: 1rem 0;
}

.mr1{
    margin-right: 1rem;
}
.ml1{
    margin-left: 1rem;
}
.mb1{
    margin-bottom: 1rem;
}
.mt1{
    margin-top: 1rem;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.vh-100{
    height: 100vh !important;
}

.rounded {
    border-radius: .25rem;
}

.rounded-circle{
    border-radius: 50%;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.text-capitalize{
    text-transform: capitalize;
}
.text-uppercase{
    text-transform: uppercase;
}

.overflow-hidden{
    overflow: hidden;
}

.link{
    font-size: 14px;
    font-weight: 600;
    color: map-get($theme-colors, "info" );
    text-decoration: none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.form-group{
    margin-bottom: 1rem;

    label{
        display: inline-block;
        margin-bottom: 0.5rem;
        &.error{
            color: map-get($theme-colors, "danger");
        }
    }

    .form-message{
        display: block;
        margin-top: 0.25rem;
        &.error{
            color: map-get($theme-colors, "danger");
        }
        &.default{
            color: map-get($theme-colors, "muted");
        }
    }
    .small{
        font-size: 80%;
        font-weight: 400;
    }
}

.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #444;
    background-color: #fdfdfd;
    background-clip: padding-box;
    border: 1px solid #bbb;
    border-radius: 0.25rem;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus{
        border: 1px solid map-get($theme-colors, "muted");;
        box-shadow: 0 0 0 0.2rem rgba(map-get($theme-colors, "muted"), 0.4);
        background-color: #fff;
    }

    &.error{
        border: 1px solid map-get($theme-colors, "danger") !important;
        background-color: #fff !important;
        box-shadow: none !important;
    }
}

.btn{
    position: relative;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    overflow: visible;
    font-family: $font-stack;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: transform 300ms ease-in-out;
    @extend .shadow-sm;

    &.raised{
        min-width: 64px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 4px;
    }

    &.fab{
        border-radius: 50%;
        width: 56px;
        height: 56px;
        padding: 0;
        flex-shrink: 0;
    }

    &.mini-fab{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 0;
        flex-shrink: 0;
    }

    &:disabled{
        background-color: rgba(0,0,0,.12) !important;
        color: rgba(0,0,0,.26) !important;
        box-shadow: none !important;
        cursor: default !important;
    }

    &.btn-primary{
        background-color: map-get($theme-colors, "primary");;
    }

    &.btn-secondary{
        background-color: map-get($theme-colors, "secondary");;
    }

    &.btn-danger{
        background-color: map-get($theme-colors, "danger");;
    }

    &.btn-success{
        background-color: map-get($theme-colors, "success");;
    }

    &.btn-info{
        background-color: map-get($theme-colors, "info");;
    }

    &.btn-white{
        background-color: map-get($theme-colors, "light");;
    }

    &.btn-dark{
        background-color: map-get($theme-colors, "dark");;
    }
    
    &.btn-google{
        background-color: #d73d32;
    }

    &.btn-facebook{
        background-color: #3f5c9a;
    }

    &:active{
        transform: scale(0.98);
        @extend .shadow;
    }
}

.text-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
.text-primary{
    color: map-get($theme-colors, "primary");
}
.text-secondary{
    color: map-get($theme-colors, "secondary");
}
.text-success{
    color: map-get($theme-colors, "success");
}
.text-info{
    color: map-get($theme-colors, "info");
}
.text-danger{
    color: map-get($theme-colors, "danger");
}
.text-dark{
    color: map-get($theme-colors, "dark");
}
.text-white{
    color: map-get($theme-colors, "light");
}

.bg-white{
    background-color: #fff;
}
.bg-dark{
    background-color: map-get($theme-colors, "dark" );
}

.border-bottom{
    border-bottom: 1px solid map-get($theme-colors, "border");
}
.border-top{
    border-top: 1px solid map-get($theme-colors, "border");
}

/* CONTAINER */
.container{
    margin-right: auto;
    margin-left: auto;
}

@include mediaXs{
    .xs-none{
        display: none;
    }
    .container{
        width: 100%;
    }
}
@include mediaSm{
    .sm-none{
        display: none;
    }
    .container{
        max-width: 540px;
    }
}
@include mediaMd{
    .md-none{
        display: none;
    }
    .container{
        max-width: 720px;
    }
}
@include mediaLg{
    .lg-none{
        display: none;
    }
    .container{
        max-width: 960px;
    }
}
@include mediaXlg{
    .xl-none{
        display: none;
    }
    .container{
        max-width: 1140px;
    }
}

/* OVERLAY */
.overlay-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.5);
    animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* COMPONENTS */

// Tooltip
[data-tooltip]{
    position: relative;
    display: inline-block;
 
    &:after{
     content: attr(data-tooltip);
     position: absolute;
     width: 120px;
     height: fit-content;
     text-align: center;
     bottom: 100%;
     left: 50%;
     margin-bottom: 5px;
     margin-left: -60px;
     background-color: #555;
     color: #fff;
     padding: 0.25rem;
     border-radius: 4px;
     opacity: 0;
     z-index: 1400;
     transition: opacity 0.4s ease;
     @extend .shadow-sm;
   }
 
   &:hover{
     &:after{
         opacity: 1;
     }
   }
   &[data-placement="bottom"]{
     &:after{
         top: 100%;
         left: 50%;
         right: auto;
         bottom: auto;
         margin-bottom: 0;
         margin-top: 5px;
     }
   }
   &[data-placement="left"]{
     &:after{
       top: -5px;
       right: 105%;
        bottom: auto;
       left: auto;
       margin-bottom: 0;
       margin-left: 0px;
     }
   }
   &[data-placement="right"]{
     &:after{
       top: -5px;
       left: 105%;
       bottom: auto;
       right: auto;
       margin-bottom: 0;
       margin-left: 0px;
     }
   }
 }

 .card{
     border-radius: .25rem;
     background-color: #fff;
     overflow: hidden;
     &.elevated{
        @extend .shadow-sm;
        &:hover{
            @extend .shadow;
        }
     }
     &.outlined{
         border: 1px solid map-get($theme-colors, "border");
     }
 }

